accelerate
easydict==1.13
einops==0.8.1
loguru==0.7.2
matplotlib==3.10.3
networkx==3.3
numpy==1.26.4
open3d==0.18.0
Pillow==11.3.0
pyfqmr==0.2.0
pytorch3d==0.7.6
PyYAML==6.0.1
scipy
setuptools
Shapely
sortedcollections
tensorboardX
termcolor
timm
tqdm
triangle
trimesh
util
vedo
